.banner{
    background-color: var(--cor-azul-secundario);
    color: var(--cor-branco-texto-e-fundo);
    text-align: center;
    font-family: var(--fonte-principal);
    padding: 2.5rem 2rem;
}

.banner__titulo{
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
}

.banner__pesquisa{
    color: var(--cor-branco-texto-e-fundo);
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    background-color: transparent;
    border: 1px solid var(--cor-branco-texto-e-fundo);
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    color: var(--cor-branco-texto-e-fundo);
    background: url(../imagens/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem;
    padding-left: 2rem;
}

@media screen and (min-width: 1024px) {

    .banner{
        padding: 5rem 2rem;
    }

    .banner__titulo{
        font-size: 2.25rem;
        font-weight: 700;
    }

    .banner__pesquisa{
        font-size: 1rem;
        padding: 1rem 2rem;
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        font-family: var(--fonte-principal);
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        color: var(--cor-branco-texto-e-fundo);
        background: url(../imagens/Pesquisa.svg);
        background-repeat: no-repeat;
        background-position: 4rem;
    }
}